<!DOCTYPE html>
<html>
<head>
    <title>Pagina no encontrada</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <meta property="og:image" content="/static/img/404.png"/>
    <meta property="og:title" content="Jack Cloudman blog!"/>
    <meta property="og:description" content="Pagina no encontrada :("/>
    <style type="text/css">
        body { background-color: #000}
        .error-template {padding: 40px 15px;text-align: center;}
        .error-actions {margin-top:15px;margin-bottom:15px;}
        .error-actions .btn { margin-right:10px; }
        h1,h2{
            color: #FFFFFF;
        }
        img{
            align-self: center;
        }
    </style>
</head>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img src="/static/img/404.png">
                <h2>
                    Error 404 pagina no encontrada</h2>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
