{% extends 'base.html' %}
  {% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/luna.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h2>Bienvenido a mi blog</h2>
              <span class="subheading">Un blog de tecnología, anecdotas y cosas variadas.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {%for post in posts%}
          <div class="post-preview">
            <a href="{% url 'post_detail' pk=post.pk title=post.slug %}">
              <h2 class="post-title">
                {{post.titulo}}
              </h2>
              <h4 class="post-subtitle">
                {{post.descripcion}}
              </h4>
            </a>
            <p class="post-meta">Publicado por
              <a href="#">{{post.autor|title}}</a>
               el {{ post.fecha_publicado }}</p>
          </div>
          <hr>
          {%endfor%}
          <!-- Pager -->
          <div class="clearfix">
            {%if post_recientes%}
            {%if not anterior%}
                <a class="btn btn-primary float-left" href="/">Post recientes&larr;</a>
            {%else%}
                <a class="btn btn-primary float-left" href="/page/{{anterior}}">Post recientes&larr;</a>
            {%endif%}
            {%endif%}
            {%if post_antiguos%}
            <a class="btn btn-primary float-right" href="/page/{{siguiente}}">Post antiguos &rarr;</a>
            {%endif%}
        </div>
        </div>
      </div>
    </div>

  {% endblock %}
